<!-- <html>
   <head>
      <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
   </head>
   
   <body>
      <input type = "button" onclick = "sayHello()" value = "Say Hello" />
   </body>
</html> -->

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <main class="container">
            <section class="row">
                <div class="col">
                  Image
                </div>
                <div class="col">
                    <div class="row my-3">
                        <div class="col-3">
                            Username:
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="username" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            Password:
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" name="password" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3 mx-auto">
                            <div class="row">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col">
                  Services
                </div>
                <div class="col">
                  Status
                </div>
            </section>
        </main>    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> 
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
